name: Create Release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: Create Executable
      uses: sayyid5416/pyinstaller@v1
      with:
        python_ver: '3.12'
        spec: 'main.py'
        upload_exe_with_name: 'My-executable'
        options: --onefile

    - name: Publish Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags')
      with:
        files: ./dist/**
        tag_name: ${{ github.ref_name }}
        name: "Release ${{ github.ref_name }}"
